.MuiModal-root.modal-component {
  .MuiBox-root {
    .add-team-member-modal {
        padding: 32px 24px 24px 24px;
      width: 536px;
        .MuiTypography-root {
          color: #068fdb;
        }
        .MuiGrid-root{
          .MuiContainer-root{
              padding: 0;
          }
        }
      }}}