@import "../../Common/Fonts/Font.css";
.MuiFormControl-root {
  width: 100%;
}
.MuiFormControl-root .MuiInputLabel-root {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #292D32;
  opacity: 0.4;
}
.MuiFormControl-root .MuiInputLabel-root.Mui-focused {
  color: #292D32;
  opacity: 1;
}
.MuiFormControl-root .MuiOutlinedInput-root {
  padding: 16px;
  border-radius: 6px;
}
.MuiFormControl-root .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: #0f3673;
  border-width: 0.4px;
}
.MuiFormControl-root .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #0f3673;
}
.MuiFormControl-root .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #0f3673;
  border-width: 0.4px;
}
.MuiFormControl-root .MuiOutlinedInput-root.MuiAutocomplete-inputRoot {
  padding: 16px;
}
.MuiFormControl-root .MuiOutlinedInput-root .MuiOutlinedInput-input {
  padding: 0;
  height: 16px;
  color: #292D32;
  border-width: 0.4px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}
.MuiFormControl-root .MuiOutlinedInput-root.check-select {
  height: 48px;
  padding: 0;
}
.MuiFormControl-root .MuiOutlinedInput-root.check-select .MuiSelect-select {
  padding-left: 16px;
}
.MuiFormControl-root .MuiOutlinedInput-root.check-select .MuiSelect-icon {
  top: 14px;
}
.MuiFormControl-root.text-input.disAbled .MuiInputLabel-root.MuiFormLabel-filled {
  top: -3px;
}
.MuiFormControl-root.text-input.disAbled .Mui-disabled {
  color: #292D32;
}
.MuiFormControl-root.text-input.disAbled .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: rgb(15, 54, 115);
  background: rgba(15, 54, 115, 0.1);
  border: 0.4px solid #0f3673;
}
.MuiFormControl-root.text-input.disAbled .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  opacity: 1;
}
.MuiFormControl-root.statusInput .MuiInputLabel-root.MuiFormLabel-filled {
  top: -3px;
}
.MuiFormControl-root.statusInput .MuiInputLabel-root.Mui-focused {
  top: -3px;
  color: #292D32;
}
.MuiFormControl-root.statusInput .MuiOutlinedInput-root .MuiOutlinedInput-input,
.MuiFormControl-root.statusInput .MuiOutlinedInput-root .MuiInputBase-input {
  color: white;
  padding: 0;
  text-align: left;
  line-height: 100%;
}
.MuiFormControl-root.textAreaPadding .MuiFormHelperText-root,
.MuiFormControl-root.textAreaPadding .css-1wc848c-MuiFormHelperText-root {
  font-family: "Poppins" !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px !important;
  line-height: 140%;
  color: #000000;
  opacity: 0.4;
}

.MuiAutocomplete-root.select-input .MuiFormControl-root .MuiOutlinedInput-root .MuiOutlinedInput-input {
  padding-left: 0;
}

.MuiPopover-root.MuiMenu-root .MuiPaper-root.MuiMenu-paper .MuiList-root .MuiMenuItem-root.check.MuiMenuItem-gutters {
  background-color: white;
  color: #292D32;
}
.MuiPopover-root.MuiMenu-root .MuiPaper-root.MuiMenu-paper .MuiList-root .MuiMenuItem-root.check.MuiMenuItem-gutters:hover {
  background-color: #068FDB;
  color: white;
}
.MuiPopover-root.MuiMenu-root .MuiPaper-root.MuiMenu-paper .MuiList-root .MuiMenuItem-root.check.MuiMenuItem-gutters.Mui-selected {
  background-color: #068FDB;
  color: white;
}
.MuiPopover-root.MuiMenu-root .MuiPaper-root.MuiMenu-paper .MuiList-root .MuiMenuItem-root.check.MuiMenuItem-gutters.Mui-selected .MuiCheckbox-root .MuiSvgIcon-root {
  color: white;
}

.MuiAutocomplete-popper .MuiPaper-root .MuiAutocomplete-listbox .MuiAutocomplete-option {
  font-family: Poppins;
  background-color: white;
  color: #292D32;
}
.MuiAutocomplete-popper .MuiPaper-root .MuiAutocomplete-listbox .MuiAutocomplete-option[aria-selected=true] {
  background-color: #068FDB;
  color: white;
}
.MuiAutocomplete-popper .MuiPaper-root .MuiAutocomplete-listbox .MuiAutocomplete-option:hover {
  background-color: #068FDB;
  color: white;
}

::-webkit-scrollbar {
  background: transparent;
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 24px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 24px;
}/*# sourceMappingURL=style.css.map */