@import "../../Common/Fonts/Font.css";
* {
  font-family: Poppins !important;
}

.MuiFormControl-root,
.MuiTextField-root,
.MuiBox-root {
  width: 100%;
}
.MuiFormControl-root .MuiInputLabel-root,
.MuiTextField-root .MuiInputLabel-root,
.MuiBox-root .MuiInputLabel-root {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #292d32;
  opacity: 0.4;
}
.MuiFormControl-root .MuiInputLabel-root.Mui-focused,
.MuiTextField-root .MuiInputLabel-root.Mui-focused,
.MuiBox-root .MuiInputLabel-root.Mui-focused {
  color: #292d32;
  opacity: 1;
}
.MuiFormControl-root .MuiOutlinedInput-root,
.MuiTextField-root .MuiOutlinedInput-root,
.MuiBox-root .MuiOutlinedInput-root {
  padding: 16px !important;
}
.MuiFormControl-root .MuiOutlinedInput-root .MuiOutlinedInput-input,
.MuiFormControl-root .MuiOutlinedInput-root .MuiSelect-select,
.MuiFormControl-root .MuiOutlinedInput-root .MuiSelect-select,
.MuiFormControl-root .MuiOutlinedInput-root .MuiSelect-outlined,
.MuiTextField-root .MuiOutlinedInput-root .MuiOutlinedInput-input,
.MuiTextField-root .MuiOutlinedInput-root .MuiSelect-select,
.MuiTextField-root .MuiOutlinedInput-root .MuiSelect-select,
.MuiTextField-root .MuiOutlinedInput-root .MuiSelect-outlined,
.MuiBox-root .MuiOutlinedInput-root .MuiOutlinedInput-input,
.MuiBox-root .MuiOutlinedInput-root .MuiSelect-select,
.MuiBox-root .MuiOutlinedInput-root .MuiSelect-select,
.MuiBox-root .MuiOutlinedInput-root .MuiSelect-outlined {
  color: #292d32;
  border-width: 0.4px !important;
  font-family: "Poppins" !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding: 0 !important;
  height: 16px;
}
.MuiFormControl-root .selectInput,
.MuiTextField-root .selectInput,
.MuiBox-root .selectInput {
  height: 48px !important;
}
.MuiFormControl-root .selectInput .MuiSelect-icon,
.MuiFormControl-root .selectInput .MuiSelect-iconOutlined,
.MuiFormControl-root .selectInput .css-3qbkez-MuiSelect-icon,
.MuiTextField-root .selectInput .MuiSelect-icon,
.MuiTextField-root .selectInput .MuiSelect-iconOutlined,
.MuiTextField-root .selectInput .css-3qbkez-MuiSelect-icon,
.MuiBox-root .selectInput .MuiSelect-icon,
.MuiBox-root .selectInput .MuiSelect-iconOutlined,
.MuiBox-root .selectInput .css-3qbkez-MuiSelect-icon {
  top: 14px !important;
}
.MuiFormControl-root .textAreaPadding .MuiOutlinedInput-root,
.MuiTextField-root .textAreaPadding .MuiOutlinedInput-root,
.MuiBox-root .textAreaPadding .MuiOutlinedInput-root {
  padding: 16px 2px 16px 16px;
}
.MuiFormControl-root .textAreaPadding .MuiOutlinedInput-root .MuiOutlinedInput-input,
.MuiTextField-root .textAreaPadding .MuiOutlinedInput-root .MuiOutlinedInput-input,
.MuiBox-root .textAreaPadding .MuiOutlinedInput-root .MuiOutlinedInput-input {
  height: auto !important;
}
.MuiFormControl-root .MuiOutlinedInput-notchedOutline,
.MuiTextField-root .MuiOutlinedInput-notchedOutline,
.MuiBox-root .MuiOutlinedInput-notchedOutline {
  border-color: #0f3673;
  border-width: 0.4px;
}
.MuiFormControl-root:hover .MuiOutlinedInput-notchedOutline,
.MuiFormControl-root .MuiSelect-select,
.MuiFormControl-root .MuiSelect-outlined,
.MuiTextField-root:hover .MuiOutlinedInput-notchedOutline,
.MuiTextField-root .MuiSelect-select,
.MuiTextField-root .MuiSelect-outlined,
.MuiBox-root:hover .MuiOutlinedInput-notchedOutline,
.MuiBox-root .MuiSelect-select,
.MuiBox-root .MuiSelect-outlined {
  border-color: #0f3673 !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #0f3673 !important;
  border-width: 0.4px !important;
}

.MuiFormHelperText-root,
.css-1wc848c-MuiFormHelperText-root {
  font-family: "Poppins" !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px !important;
  line-height: 140%;
  color: #000000;
  opacity: 0.4;
}

.disAbled {
  border: none !important;
  outline: none !important;
  background: rgba(15, 54, 115, 0.1);
  border-radius: 4px;
}
.disAbled .css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-disabled {
  color: #292d32;
}
.disAbled .MuiOutlinedInput-root,
.disAbled .Mui-disabled {
  border: none !important;
  outline: none !important;
}
.disAbled .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline,
.disAbled .MuiOutlinedInput-root .MuiSelect-select,
.disAbled .MuiOutlinedInput-root .MuiSelect-outlined,
.disAbled .Mui-disabled:hover .MuiOutlinedInput-notchedOutline,
.disAbled .Mui-disabled .MuiSelect-select,
.disAbled .Mui-disabled .MuiSelect-outlined {
  border-color: #0f3673 !important;
  opacity: 0.4;
}

::-webkit-scrollbar {
  background: transparent;
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 24px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 24px;
}

/* Handle on hover */
.MuiButtonBase-root {
  border: none !important;
}

.MuiMenuItem-root,
.MuiMenuItem-gutters,
.Mui-selected,
.MuiButtonBase-root,
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  color: #292d32;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
  background-color: #068fdb !important;
  color: white !important;
}

.MuiMenuItem-root:hover,
.MuiMenuItem-gutters:hover,
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root:hover {
  background-color: #068fdb !important;
  color: white !important;
}

.MuiMenuItem-root,
.MuiMenuItem-gutters,
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  background-color: white !important;
}

.MuiPickersDay-root.Mui-selected {
  color: white !important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
  background-color: #068fdb !important;
  color: white !important;
}

.MuiAutocomplete-popper li:hover {
  background-color: #068fdb !important;
  color: white;
}

.MuiAutocomplete-listbox li .checkIcon {
  color: #0f3673;
}

.statusInput .MuiInputLabel-root.MuiFormLabel-filled {
  top: -3px;
}
.statusInput .MuiInputLabel-root.Mui-focused {
  top: -3px;
  color: #292d32;
}
.statusInput .MuiOutlinedInput-root .MuiOutlinedInput-input,
.statusInput .MuiOutlinedInput-root .MuiInputBase-input {
  color: white;
}
.statusInput .MuiOutlinedInput-root .MuiAutocomplete-endAdornment .MuiAutocomplete-clearIndicator .MuiSvgIcon-root {
  color: white;
}

.MuiInputBase-input::-moz-placeholder {
  color: #292d32;
}

.MuiInputBase-input:-ms-input-placeholder {
  color: #292d32;
}

.MuiOutlinedInput-input,
.MuiInputBase-input::placeholder {
  color: #292d32;
}/*# sourceMappingURL=style.css.map */