.A{
    background-color: #fff;
    border-bottom: none !important;
}

.B{
    background-color: #F4FAFF;
    border-bottom: none !important;
}

.borderDelete{
    border-bottom: none !important;
    
}