@import '../../Common/Fonts/Font.css';
.MuiFab-root.clearBtn{
    background: #FFFFFF;
border: 0.6px solid #0F3673;
box-shadow: none;
width: 34px;
height: auto;
}
.MuiFab-root.addBtn{ 
    background: #6FC03D;
    box-shadow: none;
    &:hover{
        background: #6FC03D;
    }
}