@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.MuiCardHeader-title {
    font-size: 24px;
    line-height: 24px;
    font-family: 'Poppins';
    font-weight: 500;
    color: #068FDB;
}


.css-1r7xutp-MuiPaper-root-MuiCard-root {
    border: none !important;
    box-shadow: none !important;
}

.elavetetbtn {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;

}

.css-1qvr50w-MuiTypography-root {
    font-family: Poppins !important;
    font-size: 24px !important;
    font-weight: 500 !important;
    line-height: 24px !important;
    letter-spacing: 0em !important;
    text-align: left;

}

.css-1r7xutp-MuiPaper-root-MuiCard-root{
    width: 1280px !important;
    padding: 16px 24px !important;
    // margin: 20px 80px;
}