@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.MuiCardHeader-title{
    font-size: 24px;
    line-height: 24px;
    font-family: 'Poppins';
    font-weight: 500;
    color: #068FDB  ;
}


.css-1r7xutp-MuiPaper-root-MuiCard-root{
    border: none !important;
    box-shadow: none !important;
}