.textInput{
    .MuiTextField-root	{
        // border: 0.4px solid #0F3673;
        border-radius: 6px;
        &:hover{
            border: none; 
        }
        &:focus{
            border: none;
        }
    }
   

}
