@import url("../../Common/Fonts/Font.css");
.header-root{
    width: 100%;
    background-color: white;
    height: auto;
    // margin-top: 60px;
    display: flex;
    justify-content: center;
    .MuiGrid-root.header-main{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1280px;
        max-width: 1280px;
        padding: 21px 0;
      .MuiGrid-root.user-menu{
display: flex;
justify-content: center;
align-items: center;
.MuiGrid-root{
    .MuiButton-root.avatar-name{
        font-family:Nunito Sans;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 150%;
        color: #000000;
        display: flex;
        justify-content: space-between;
        text-transform: capitalize;
        padding-left: 0;
        padding-right: 13px;
        min-width: 243px;
        .avatarIcon-and-name{
            display: flex;
            align-content: center;
            align-items: center;
           
        }
    }
}
      }
    }
}
.MuiModal-root.header-avatar-menu {
.MuiPaper-root{
    box-shadow: none;
       background: #FFFFFF;
    border: 1px solid #068FDB;
    box-shadow: 0px 3px 10px rgba(41, 45, 50, 0.06);
    border-radius: 4px;
    .MuiList-root{
        box-sizing: border-box;
        padding: 20px 18px;
        min-width: 243px;
        
        .MuiMenuItem-root.head-menu-item{
        font-family: Poppins;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 100%;
.MuiGrid-root{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
        }
    }
}
}