<<<<<<< HEAD
.App{
    padding: 80px;
 

    
        // width: 88.9%;
        // margin: 0 auto;
    
=======
.App {
    // padding: 80px;
    background: #F4FAFF !important;

    // width: 88.9%;
    // margin: 0 auto;

>>>>>>> 328e9407f70abe0eecbdf09a8ec1c11715a1fbce
}

* {
    box-sizing: border-box !important;
}